<ion-header>
  <ion-toolbar>
    <ion-title>
      App Ejemplo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-text color="primary">
  <h1>Página jom</h1>
</ion-text>
<ion-text color="dark">
  <p>Los elementos de ionic funcionan igual que una pagina en HTML</p>
</ion-text>
<ion-text>
  <p class="rojo">Los estilos para una pagina individual funcionan similar a css</p>
</ion-text>
<ion-text color="dark">
  <h3 color="tertiary" class="ion-text-uppercase">Navegar entre páginas</h3>
  <p>para crear paginas usamos el comando <span class="strong">ionic generate page carpeta/nombre</span></p>
</ion-text>
<ion-text color="dark">
  <p>Para navegar se debe utilizar <span class="strong">routerLink</span>  como vínculo simple</p>
</ion-text>
<ion-text color="tertiary" routerLink="/pagina2">
  <p>Ir a página 2</p>
</ion-text>
<ion-text color="tertiary" routerLink="/pagina3">
  <p>Ir a página 3</p>
</ion-text>
</ion-content>
